<!-- show.erb -->
<!DOCTYPE html>

<html lang="en">
  <head>
    <title> <%= @game.name %>'s Blackjack </title>
    <meta charset="utf-8">

    <style>
    	p{
    		color: black;
    		font-family: Times;
    		font-size: 16px;
    	}

    	#important_p {
    		color: goldenrod;
    		font-size: .8em;
    	}
    </style>
  </head>
  <body>
 
    <h1 style="color:blue"> <strong><%= @game.name %>'s Blackjack </h1></strong>
    <p> Game ID: <%= @game.id %> </p>
	<p> Game name: <%= @game.name %> </p>
	<p> Money in the bank: $ <%= @game.money %> </p>

	<h2 style = "color:crimson;">User Hand:</h2>

    <strong>Number of cards: <%= @game.user_hand.count %></strong>
	<ul>
		<% @game.user_hand.each do |card| %>
			<float> 

				<img src="/<%=card.file_name %> ">  

				
			</float>
		<% end %>
	</ul>


    </body>
    </html>